
/* ==============================
    Matcha display grid & flex
   ============================== */
.row-lg,.row-md,.row-sm,.row-xl,.row-xs{display:flex;flex-direction:column}
@media only screen and (min-width:600px){.row>.col-xs-1{flex-basis:8.33333%}
.row>.col-offset-xs-1{margin-left:8.33333%}
.row>.col-xs-2{flex-basis:16.66667%}
.row>.col-offset-xs-2{margin-left:16.66667%}
.row>.col-xs-3{flex-basis:25%}
.row>.col-offset-xs-3{margin-left:25%}
.row>.col-xs-4{flex-basis:33.33333%}
.row>.col-offset-xs-4{margin-left:33.33333%}
.row>.col-xs-5{flex-basis:41.66667%}
.row>.col-offset-xs-5{margin-left:41.66667%}
.row>.col-xs-6{flex-basis:50%}
.row>.col-offset-xs-6{margin-left:50%}
.row>.col-xs-7{flex-basis:58.33333%}
.row>.col-offset-xs-7{margin-left:58.33333%}
.row>.col-xs-8{flex-basis:66.66667%}
.row>.col-offset-xs-8{margin-left:66.66667%}
.row>.col-xs-9{flex-basis:75%}
.row>.col-offset-xs-9{margin-left:75%}
.row>.col-xs-10{flex-basis:83.33333%}
.row>.col-offset-xs-10{margin-left:83.33333%}
.row>.col-xs-11{flex-basis:91.66667%}
.row>.col-offset-xs-11{margin-left:91.66667%}
.row>.col-xs-12{flex-basis:100%}
.row>.col-offset-xs-12{margin-left:100%}
.row-xs{flex-direction:row}}
@media only screen and (min-width:1024px){.row>.col-sm-1{flex-basis:8.33333%}
.row>.col-offset-sm-1{margin-left:8.33333%}
.row>.col-sm-2{flex-basis:16.66667%}
.row>.col-offset-sm-2{margin-left:16.66667%}
.row>.col-sm-3{flex-basis:25%}
.row>.col-offset-sm-3{margin-left:25%}
.row>.col-sm-4{flex-basis:33.33333%}
.row>.col-offset-sm-4{margin-left:33.33333%}
.row>.col-sm-5{flex-basis:41.66667%}
.row>.col-offset-sm-5{margin-left:41.66667%}
.row>.col-sm-6{flex-basis:50%}
.row>.col-offset-sm-6{margin-left:50%}
.row>.col-sm-7{flex-basis:58.33333%}
.row>.col-offset-sm-7{margin-left:58.33333%}
.row>.col-sm-8{flex-basis:66.66667%}
.row>.col-offset-sm-8{margin-left:66.66667%}
.row>.col-sm-9{flex-basis:75%}
.row>.col-offset-sm-9{margin-left:75%}
.row>.col-sm-10{flex-basis:83.33333%}
.row>.col-offset-sm-10{margin-left:83.33333%}
.row>.col-sm-11{flex-basis:91.66667%}
.row>.col-offset-sm-11{margin-left:91.66667%}
.row>.col-sm-12{flex-basis:100%}
.row>.col-offset-sm-12{margin-left:100%}
.row-sm{flex-direction:row}}
@media only screen and (min-width:1440px){.row>.col-md-1{flex-basis:8.33333%}
.row>.col-offset-md-1{margin-left:8.33333%}
.row>.col-md-2{flex-basis:16.66667%}
.row>.col-offset-md-2{margin-left:16.66667%}
.row>.col-md-3{flex-basis:25%}
.row>.col-offset-md-3{margin-left:25%}
.row>.col-md-4{flex-basis:33.33333%}
.row>.col-offset-md-4{margin-left:33.33333%}
.row>.col-md-5{flex-basis:41.66667%}
.row>.col-offset-md-5{margin-left:41.66667%}
.row>.col-md-6{flex-basis:50%}
.row>.col-offset-md-6{margin-left:50%}
.row>.col-md-7{flex-basis:58.33333%}
.row>.col-offset-md-7{margin-left:58.33333%}
.row>.col-md-8{flex-basis:66.66667%}
.row>.col-offset-md-8{margin-left:66.66667%}
.row>.col-md-9{flex-basis:75%}
.row>.col-offset-md-9{margin-left:75%}
.row>.col-md-10{flex-basis:83.33333%}
.row>.col-offset-md-10{margin-left:83.33333%}
.row>.col-md-11{flex-basis:91.66667%}
.row>.col-offset-md-11{margin-left:91.66667%}
.row>.col-md-12{flex-basis:100%}
.row>.col-offset-md-12{margin-left:100%}
.row-md{flex-direction:row}}
@media only screen and (min-width:1920px){.row>.col-lg-1{flex-basis:8.33333%}
.row>.col-offset-lg-1{margin-left:8.33333%}
.row>.col-lg-2{flex-basis:16.66667%}
.row>.col-offset-lg-2{margin-left:16.66667%}
.row>.col-lg-3{flex-basis:25%}
.row>.col-offset-lg-3{margin-left:25%}
.row>.col-lg-4{flex-basis:33.33333%}
.row>.col-offset-lg-4{margin-left:33.33333%}
.row>.col-lg-5{flex-basis:41.66667%}
.row>.col-offset-lg-5{margin-left:41.66667%}
.row>.col-lg-6{flex-basis:50%}
.row>.col-offset-lg-6{margin-left:50%}
.row>.col-lg-7{flex-basis:58.33333%}
.row>.col-offset-lg-7{margin-left:58.33333%}
.row>.col-lg-8{flex-basis:66.66667%}
.row>.col-offset-lg-8{margin-left:66.66667%}
.row>.col-lg-9{flex-basis:75%}
.row>.col-offset-lg-9{margin-left:75%}
.row>.col-lg-10{flex-basis:83.33333%}
.row>.col-offset-lg-10{margin-left:83.33333%}
.row>.col-lg-11{flex-basis:91.66667%}
.row>.col-offset-lg-11{margin-left:91.66667%}
.row>.col-lg-12{flex-basis:100%}
.row>.col-offset-lg-12{margin-left:100%}
.row-lg{flex-direction:row}}
@media only screen and (min-width:2560px){.row>.col-xl-1{flex-basis:8.33333%}
.row>.col-offset-xl-1{margin-left:8.33333%}
.row>.col-xl-2{flex-basis:16.66667%}
.row>.col-offset-xl-2{margin-left:16.66667%}
.row>.col-xl-3{flex-basis:25%}
.row>.col-offset-xl-3{margin-left:25%}
.row>.col-xl-4{flex-basis:33.33333%}
.row>.col-offset-xl-4{margin-left:33.33333%}
.row>.col-xl-5{flex-basis:41.66667%}
.row>.col-offset-xl-5{margin-left:41.66667%}
.row>.col-xl-6{flex-basis:50%}
.row>.col-offset-xl-6{margin-left:50%}
.row>.col-xl-7{flex-basis:58.33333%}
.row>.col-offset-xl-7{margin-left:58.33333%}
.row>.col-xl-8{flex-basis:66.66667%}
.row>.col-offset-xl-8{margin-left:66.66667%}
.row>.col-xl-9{flex-basis:75%}
.row>.col-offset-xl-9{margin-left:75%}
.row>.col-xl-10{flex-basis:83.33333%}
.row>.col-offset-xl-10{margin-left:83.33333%}
.row>.col-xl-11{flex-basis:91.66667%}
.row>.col-offset-xl-11{margin-left:91.66667%}
.row>.col-xl-12{flex-basis:100%}
.row>.col-offset-xl-12{margin-left:100%}
.row-xl{flex-direction:row}}
[class^=grid-]{display:grid;grid-template-columns:minmax(0,1fr)}
.gap-0{column-gap:0;row-gap:0}
.gap-4{column-gap:4px;row-gap:4px}
.gap-8{column-gap:8px;row-gap:8px}
.gap-12{column-gap:12px;row-gap:12px}
.gap-16{column-gap:16px;row-gap:16px}
.gap-20{column-gap:20px;row-gap:20px}
.gap-24{column-gap:24px;row-gap:24px}
.gap-28{column-gap:28px;row-gap:28px}
.gap-32{column-gap:32px;row-gap:32px}
.gap-36{column-gap:36px;row-gap:36px}
.gap-40{column-gap:40px;row-gap:40px}
.gap-44{column-gap:44px;row-gap:44px}
.gap-48{column-gap:48px;row-gap:48px}
.grid-1{display:grid;grid-template-columns:repeat(1,minmax(0,1fr))}
.span-1c{grid-column-end:span 1}
.span-1r{grid-row-end:span 1}
.grid-2{display:grid;grid-template-columns:repeat(2,minmax(0,1fr))}
.span-2c{grid-column-end:span 2}
.span-2r{grid-row-end:span 2}
.grid-3{display:grid;grid-template-columns:repeat(3,minmax(0,1fr))}
.span-3c{grid-column-end:span 3}
.span-3r{grid-row-end:span 3}
.grid-4{display:grid;grid-template-columns:repeat(4,minmax(0,1fr))}
.span-4c{grid-column-end:span 4}
.span-4r{grid-row-end:span 4}
.grid-5{display:grid;grid-template-columns:repeat(5,minmax(0,1fr))}
.span-5c{grid-column-end:span 5}
.span-5r{grid-row-end:span 5}
.grid-6{display:grid;grid-template-columns:repeat(6,minmax(0,1fr))}
.span-6c{grid-column-end:span 6}
.span-6r{grid-row-end:span 6}
.grid-7{display:grid;grid-template-columns:repeat(7,minmax(0,1fr))}
.span-7c{grid-column-end:span 7}
.span-7r{grid-row-end:span 7}
.grid-8{display:grid;grid-template-columns:repeat(8,minmax(0,1fr))}
.span-8c{grid-column-end:span 8}
.span-8r{grid-row-end:span 8}
.grid-9{display:grid;grid-template-columns:repeat(9,minmax(0,1fr))}
.span-9c{grid-column-end:span 9}
.span-9r{grid-row-end:span 9}
.grid-10{display:grid;grid-template-columns:repeat(10,minmax(0,1fr))}
.span-10c{grid-column-end:span 10}
.span-10r{grid-row-end:span 10}
.grid-11{display:grid;grid-template-columns:repeat(11,minmax(0,1fr))}
.span-11c{grid-column-end:span 11}
.span-11r{grid-row-end:span 11}
.grid-12{display:grid;grid-template-columns:repeat(12,minmax(0,1fr))}
.span-12c{grid-column-end:span 12}
.span-12r{grid-row-end:span 12}
@media screen and (min-width:600px){.grid-sm-1{display:grid;grid-template-columns:repeat(1,minmax(0,1fr))}
.span-sm-1c{grid-column-end:span 1}
.span-sm-1r{grid-row-end:span 1}
.grid-sm-2{display:grid;grid-template-columns:repeat(2,minmax(0,1fr))}
.span-sm-2c{grid-column-end:span 2}
.span-sm-2r{grid-row-end:span 2}
.grid-sm-3{display:grid;grid-template-columns:repeat(3,minmax(0,1fr))}
.span-sm-3c{grid-column-end:span 3}
.span-sm-3r{grid-row-end:span 3}
.grid-sm-4{display:grid;grid-template-columns:repeat(4,minmax(0,1fr))}
.span-sm-4c{grid-column-end:span 4}
.span-sm-4r{grid-row-end:span 4}
.grid-sm-5{display:grid;grid-template-columns:repeat(5,minmax(0,1fr))}
.span-sm-5c{grid-column-end:span 5}
.span-sm-5r{grid-row-end:span 5}
.grid-sm-6{display:grid;grid-template-columns:repeat(6,minmax(0,1fr))}
.span-sm-6c{grid-column-end:span 6}
.span-sm-6r{grid-row-end:span 6}
.grid-sm-7{display:grid;grid-template-columns:repeat(7,minmax(0,1fr))}
.span-sm-7c{grid-column-end:span 7}
.span-sm-7r{grid-row-end:span 7}
.grid-sm-8{display:grid;grid-template-columns:repeat(8,minmax(0,1fr))}
.span-sm-8c{grid-column-end:span 8}
.span-sm-8r{grid-row-end:span 8}
.grid-sm-9{display:grid;grid-template-columns:repeat(9,minmax(0,1fr))}
.span-sm-9c{grid-column-end:span 9}
.span-sm-9r{grid-row-end:span 9}
.grid-sm-10{display:grid;grid-template-columns:repeat(10,minmax(0,1fr))}
.span-sm-10c{grid-column-end:span 10}
.span-sm-10r{grid-row-end:span 10}
.grid-sm-11{display:grid;grid-template-columns:repeat(11,minmax(0,1fr))}
.span-sm-11c{grid-column-end:span 11}
.span-sm-11r{grid-row-end:span 11}
.grid-sm-12{display:grid;grid-template-columns:repeat(12,minmax(0,1fr))}
.span-sm-12c{grid-column-end:span 12}
.span-sm-12r{grid-row-end:span 12}}
@media screen and (min-width:1024px){.grid-md-1{display:grid;grid-template-columns:repeat(1,minmax(0,1fr))}
.span-md-1c{grid-column-end:span 1}
.span-md-1r{grid-row-end:span 1}
.grid-md-2{display:grid;grid-template-columns:repeat(2,minmax(0,1fr))}
.span-md-2c{grid-column-end:span 2}
.span-md-2r{grid-row-end:span 2}
.grid-md-3{display:grid;grid-template-columns:repeat(3,minmax(0,1fr))}
.span-md-3c{grid-column-end:span 3}
.span-md-3r{grid-row-end:span 3}
.grid-md-4{display:grid;grid-template-columns:repeat(4,minmax(0,1fr))}
.span-md-4c{grid-column-end:span 4}
.span-md-4r{grid-row-end:span 4}
.grid-md-5{display:grid;grid-template-columns:repeat(5,minmax(0,1fr))}
.span-md-5c{grid-column-end:span 5}
.span-md-5r{grid-row-end:span 5}
.grid-md-6{display:grid;grid-template-columns:repeat(6,minmax(0,1fr))}
.span-md-6c{grid-column-end:span 6}
.span-md-6r{grid-row-end:span 6}
.grid-md-7{display:grid;grid-template-columns:repeat(7,minmax(0,1fr))}
.span-md-7c{grid-column-end:span 7}
.span-md-7r{grid-row-end:span 7}
.grid-md-8{display:grid;grid-template-columns:repeat(8,minmax(0,1fr))}
.span-md-8c{grid-column-end:span 8}
.span-md-8r{grid-row-end:span 8}
.grid-md-9{display:grid;grid-template-columns:repeat(9,minmax(0,1fr))}
.span-md-9c{grid-column-end:span 9}
.span-md-9r{grid-row-end:span 9}
.grid-md-10{display:grid;grid-template-columns:repeat(10,minmax(0,1fr))}
.span-md-10c{grid-column-end:span 10}
.span-md-10r{grid-row-end:span 10}
.grid-md-11{display:grid;grid-template-columns:repeat(11,minmax(0,1fr))}
.span-md-11c{grid-column-end:span 11}
.span-md-11r{grid-row-end:span 11}
.grid-md-12{display:grid;grid-template-columns:repeat(12,minmax(0,1fr))}
.span-md-12c{grid-column-end:span 12}
.span-md-12r{grid-row-end:span 12}}
@media screen and (min-width:1440px){.grid-lg-1{display:grid;grid-template-columns:repeat(1,minmax(0,1fr))}
.span-lg-1c{grid-column-end:span 1}
.span-lg-1r{grid-row-end:span 1}
.grid-lg-2{display:grid;grid-template-columns:repeat(2,minmax(0,1fr))}
.span-lg-2c{grid-column-end:span 2}
.span-lg-2r{grid-row-end:span 2}
.grid-lg-3{display:grid;grid-template-columns:repeat(3,minmax(0,1fr))}
.span-lg-3c{grid-column-end:span 3}
.span-lg-3r{grid-row-end:span 3}
.grid-lg-4{display:grid;grid-template-columns:repeat(4,minmax(0,1fr))}
.span-lg-4c{grid-column-end:span 4}
.span-lg-4r{grid-row-end:span 4}
.grid-lg-5{display:grid;grid-template-columns:repeat(5,minmax(0,1fr))}
.span-lg-5c{grid-column-end:span 5}
.span-lg-5r{grid-row-end:span 5}
.grid-lg-6{display:grid;grid-template-columns:repeat(6,minmax(0,1fr))}
.span-lg-6c{grid-column-end:span 6}
.span-lg-6r{grid-row-end:span 6}
.grid-lg-7{display:grid;grid-template-columns:repeat(7,minmax(0,1fr))}
.span-lg-7c{grid-column-end:span 7}
.span-lg-7r{grid-row-end:span 7}
.grid-lg-8{display:grid;grid-template-columns:repeat(8,minmax(0,1fr))}
.span-lg-8c{grid-column-end:span 8}
.span-lg-8r{grid-row-end:span 8}
.grid-lg-9{display:grid;grid-template-columns:repeat(9,minmax(0,1fr))}
.span-lg-9c{grid-column-end:span 9}
.span-lg-9r{grid-row-end:span 9}
.grid-lg-10{display:grid;grid-template-columns:repeat(10,minmax(0,1fr))}
.span-lg-10c{grid-column-end:span 10}
.span-lg-10r{grid-row-end:span 10}
.grid-lg-11{display:grid;grid-template-columns:repeat(11,minmax(0,1fr))}
.span-lg-11c{grid-column-end:span 11}
.span-lg-11r{grid-row-end:span 11}
.grid-lg-12{display:grid;grid-template-columns:repeat(12,minmax(0,1fr))}
.span-lg-12c{grid-column-end:span 12}
.span-lg-12r{grid-row-end:span 12}}
@media screen and (min-width:1920px){.grid-xl-1{display:grid;grid-template-columns:repeat(1,minmax(0,1fr))}
.span-xl-1c{grid-column-end:span 1}
.span-xl-1r{grid-row-end:span 1}
.grid-xl-2{display:grid;grid-template-columns:repeat(2,minmax(0,1fr))}
.span-xl-2c{grid-column-end:span 2}
.span-xl-2r{grid-row-end:span 2}
.grid-xl-3{display:grid;grid-template-columns:repeat(3,minmax(0,1fr))}
.span-xl-3c{grid-column-end:span 3}
.span-xl-3r{grid-row-end:span 3}
.grid-xl-4{display:grid;grid-template-columns:repeat(4,minmax(0,1fr))}
.span-xl-4c{grid-column-end:span 4}
.span-xl-4r{grid-row-end:span 4}
.grid-xl-5{display:grid;grid-template-columns:repeat(5,minmax(0,1fr))}
.span-xl-5c{grid-column-end:span 5}
.span-xl-5r{grid-row-end:span 5}
.grid-xl-6{display:grid;grid-template-columns:repeat(6,minmax(0,1fr))}
.span-xl-6c{grid-column-end:span 6}
.span-xl-6r{grid-row-end:span 6}
.grid-xl-7{display:grid;grid-template-columns:repeat(7,minmax(0,1fr))}
.span-xl-7c{grid-column-end:span 7}
.span-xl-7r{grid-row-end:span 7}
.grid-xl-8{display:grid;grid-template-columns:repeat(8,minmax(0,1fr))}
.span-xl-8c{grid-column-end:span 8}
.span-xl-8r{grid-row-end:span 8}
.grid-xl-9{display:grid;grid-template-columns:repeat(9,minmax(0,1fr))}
.span-xl-9c{grid-column-end:span 9}
.span-xl-9r{grid-row-end:span 9}
.grid-xl-10{display:grid;grid-template-columns:repeat(10,minmax(0,1fr))}
.span-xl-10c{grid-column-end:span 10}
.span-xl-10r{grid-row-end:span 10}
.grid-xl-11{display:grid;grid-template-columns:repeat(11,minmax(0,1fr))}
.span-xl-11c{grid-column-end:span 11}
.span-xl-11r{grid-row-end:span 11}
.grid-xl-12{display:grid;grid-template-columns:repeat(12,minmax(0,1fr))}
.span-xl-12c{grid-column-end:span 12}
.span-xl-12r{grid-row-end:span 12}}
.row{display:flex;flex-wrap:wrap}
.row>div[class*=col-]{box-sizing:border-box}
.row>div:not([class*=col-]){flex:1}
.row .col-1{flex-basis:8.33333%}
.row .col-offset-1{margin-left:8.33333%}
.row .col-lg-1,.row .col-md-1,.row .col-sm-1,.row .col-xl-1,.row .col-xs-1{flex-basis:100%}
.row .col-2{flex-basis:16.66667%}
.row .col-offset-2{margin-left:16.66667%}
.row .col-lg-2,.row .col-md-2,.row .col-sm-2,.row .col-xl-2,.row .col-xs-2{flex-basis:100%}
.row .col-3{flex-basis:25%}
.row .col-offset-3{margin-left:25%}
.row .col-lg-3,.row .col-md-3,.row .col-sm-3,.row .col-xl-3,.row .col-xs-3{flex-basis:100%}
.row .col-4{flex-basis:33.33333%}
.row .col-offset-4{margin-left:33.33333%}
.row .col-lg-4,.row .col-md-4,.row .col-sm-4,.row .col-xl-4,.row .col-xs-4{flex-basis:100%}
.row .col-5{flex-basis:41.66667%}
.row .col-offset-5{margin-left:41.66667%}
.row .col-lg-5,.row .col-md-5,.row .col-sm-5,.row .col-xl-5,.row .col-xs-5{flex-basis:100%}
.row .col-6{flex-basis:50%}
.row .col-offset-6{margin-left:50%}
.row .col-lg-6,.row .col-md-6,.row .col-sm-6,.row .col-xl-6,.row .col-xs-6{flex-basis:100%}
.row .col-7{flex-basis:58.33333%}
.row .col-offset-7{margin-left:58.33333%}
.row .col-lg-7,.row .col-md-7,.row .col-sm-7,.row .col-xl-7,.row .col-xs-7{flex-basis:100%}
.row .col-8{flex-basis:66.66667%}
.row .col-offset-8{margin-left:66.66667%}
.row .col-lg-8,.row .col-md-8,.row .col-sm-8,.row .col-xl-8,.row .col-xs-8{flex-basis:100%}
.row .col-9{flex-basis:75%}
.row .col-offset-9{margin-left:75%}
.row .col-lg-9,.row .col-md-9,.row .col-sm-9,.row .col-xl-9,.row .col-xs-9{flex-basis:100%}
.row .col-10{flex-basis:83.33333%}
.row .col-offset-10{margin-left:83.33333%}
.row .col-lg-10,.row .col-md-10,.row .col-sm-10,.row .col-xl-10,.row .col-xs-10{flex-basis:100%}
.row .col-11{flex-basis:91.66667%}
.row .col-offset-11{margin-left:91.66667%}
.row .col-12,.row .col-lg-11,.row .col-md-11,.row .col-sm-11,.row .col-xl-11,.row .col-xs-11{flex-basis:100%}
.row .col-offset-12{margin-left:100%}
.row [class*=col-offset-xs-]{margin-left:0}
.row .col-xs-12{flex-basis:100%}
.row [class*=col-offset-sm-]{margin-left:0}
.row .col-sm-12{flex-basis:100%}
.row [class*=col-offset-md-]{margin-left:0}
.row .col-md-12{flex-basis:100%}
.row [class*=col-offset-lg-]{margin-left:0}
.row .col-lg-12{flex-basis:100%}
.row [class*=col-offset-xl-]{margin-left:0}
.row .col-xl-12{flex-basis:100%}
.row>div[class*=col-].align-start{align-self:flex-start}
.row>div[class*=col-].align-center{align-self:center}
.row>div[class*=col-].align-end{align-self:flex-end}
.row.align-start{justify-content:flex-start}
.row.align-center{justify-content:center}
.row.align-end{justify-content:flex-end}
.row.space-around{justify-content:space-around}
.row.space-between{justify-content:space-between}